/*---- Specification -----*/
body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

.container {
    margin: 0 auto;
    padding: 0;
    max-width: 1140px;
}

div, p, form, input, a, span, button {
    box-sizing: border-box;
}

p {
    margin: 0;
    line-height: 1.5em;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

ul, li, span, p {
    letter-spacing: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

.link {
    font-size: .95em;
    letter-spacing: 0;
    line-height: 25px;
    font-weight: 800;
    cursor: pointer;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: 800;
    line-height: 53px;
    letter-spacing: 1px;
}

h1 {
    margin-bottom: 28px;
    font-size: 2.9em;
    text-align: center;
    word-spacing: .1em;
    letter-spacing: 0;
}

h2 {
    text-align: center;
}

.titles {
    font-size: 1.72em;
    font-weight: 800;
    word-spacing: 0;
    line-height: 37px;
    color: #000000;
}

input {
    border: none;
    outline: none;
}

.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.offer__master-class, .form__items, .finance__im  {
    flex-direction: column;
}

/* ---- First block -------*/

.header__wrapper {
    padding: 16px 0;
}

.header__logo {
    margin-bottom: 7px;
    margin-right: 80px;
}

.my-logo__icon {
    width: 50px;
    height: 50px;
    background: #1b3bde;
    text-align: center;
    border-radius: 5px;
}

.my-logo__icon i {
    margin-top: 12px;
    font-size: 1.5em;
    color: #ffffff;
}

.my-logo__my-school {
    margin-left: 12px;
    width: 100px;
}

.my-logo__text {
    margin-top: 4px;
}

.my-logo__text a {
    color: #1b3bde;
    font-size: 0.95em;
    text-transform: uppercase;
    font-weight: 900;
    word-spacing: 0.1em;
    line-height: 1.39em;
}

.my-logo__text span {
    font-size: 1.35em;
}

.main-nav {
    width: 405px;
}

.header__nav a {
    padding: 7px 22px;
    font-size: .81em;
    color: #000000;
    border-radius: 5px;
}

.header__nav a:hover {
    background: #000000;
    color: #ffffff;
}

.main-phone {
    margin-left: auto;
}

.main-phone__tel {
    font-family: Font Awesome5 Pro Regular, Roboto, Arial sans-serif;
    font-size: 1em;
    font-weight: 800;
    letter-spacing: -.03em;
    word-spacing: 0.13em;
}
/*----- Start block Offer -----*/

.offer {
    padding: 89px 0 133px;
    background: #f0f7f7 url(../img/first-bg.jpg) no-repeat center top / cover;
    box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, .12);
}

.offer__description {
    padding-top: 107px;
}

.offer__master-class {
    margin-left: 24px;
    width: 605px;
}

.offer__text {
    margin-bottom: 24px;
    font-weight: 300;
}

.offer__time {
    padding-top: 4px;
    width: 148px;
    height: 28px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
}

.offer__form {
    margin-right: 72px;
}

/*only form*/

.form {
    width: 331px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 13px 98px rgba(0,0,0,0.24);
}

.form__wrapper {
    margin: 32px auto 37px;
    width: 268px;
}

.form__title {
    margin-bottom: 10px;
    font-size: 1.08em;
    font-weight: bold;
}

.form__subtitle {
    margin-bottom: 20px;
    font-size: 0.92em;
}

.form__items {
    margin-bottom: 12px;
}

.form__items input {
    padding: 11px 0;
    letter-spacing: 0.04em;
    border-bottom: 1px solid #bababa;
}

.form__effect:focus {
    border-bottom: 1px solid #000000;
}

.form__effect:focus::placeholder {
    color: #000000;
    text-indent: 30px;
    transition: text-indent 0.7s ease;
}

.form__items_email {
    margin-top: 10px;
}

.form__items_tel {
    margin-top: 14px;
}

.form__btn {
    margin-top: 21px;
    background: #4acc4d;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 1.01em;
    font-weight: 800;
    line-height: 38px;
    border-radius: 5px;
    transition: text-indent 2.5s ease;
    cursor: pointer;
}

.form__btn:hover {
    transition: text-indent 2.5s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    transform: scale(1.1);
}

.form__btn:active {
    transition: text-indent 2.5s ease;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .2);

}

.form__text {
    color: #adadad;
    font-size: .85em;
}

/*--- Start block Finance ---*/

.finance {
    padding: 123px 0 122px;
}

.finance__im-wrapper {
    background: #9d6adc;
    color: #ffffff;
    height: 265px;
    width: 470px;
    border-radius: 5px;
    box-shadow: 0 13px 98px rgba(0,0,0,0.24);
}

.finance__im {
    margin: 0 auto;
    padding-top: 36px;
    padding-left: 58px;
}

.finance__name {
    margin-bottom: 6px;
    font-size: 1.16em;
    line-height: 32px;
    font-weight: 800;
}

.finance__who-am-i {
    margin-bottom: 27px;
    font-size: 1em;
    line-height: 1.3em;
}

.finance__portfolio {
    margin-bottom: 22px;
}

.finance__amount {
    font-size: 2.4em;
    letter-spacing: 1px;
    line-height: .9em;
    font-weight: bold;
}

.finance__text {
    width: 100px;
    font-size: .84em;
    line-height: 1.2em;
    margin-left: 14px;
    margin-top: 2px;
}

.finance__text_years {
    width: 63px;
}

.finance__years {
    margin-left: 11px;
}

.description {
    padding-left: 98px;
}

.description__title {
    padding: 61px 0 9px;
}

.description__text {
    padding-top: 6px;
    width: 450px;
    font-size: 1em;
    line-height: 1.5em;
    word-spacing: -.05em;
}

.question {
    justify-content: flex-end;
    padding-top: 65px;
}

.question__text {
    width: 505px;
    margin-right: 33px;
}

.question__title {
    padding: 69px 0 14px;
}

.question__money {
    background: #f6e23a;
    color: #000000;
    width: 468px;
    height: 265px;
    border-radius: 5px;
    box-shadow: 0 13px 98px rgba(0,0,0,0.24);
}

.question__money_1000 {
    margin: 0 auto;
    font-size: 2.8em;
    font-weight: 1000;
    line-height: 1.02em;
}

.question__money_1000 p {
    font-size: .5em;
    font-weight: 400;
    text-align: center;
}

/*--- Start block Showing ---*/

.showing {
    padding: 99px 0 106px;
    background: #f0f7f7 url(../img/first-bg.jpg) no-repeat center top / cover;
}

.showing__wrapper {
    padding-top: 71px;
    justify-content: space-between;
}

.showing__advantage {
}

.showing__icon {
    width: 82px;
    height: 82px;
    text-align: center;
    border-radius: 5px;
    background-color: #1b3bde;
}

.showing__icon p {
    margin-top: 23px;
    font-size: 1.65em;
    letter-spacing: 1px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 800;
}

.showing__text {
    margin-left: 35px;
    width: 217px;
}

.showing__text_title {
    width: 281px;
    margin: 19px auto 14px;
    font-size: 1.18em;
    line-height: 1.2em;
    color: #1b3bde;
    font-weight: 800;
    letter-spacing: .03em;
}

.showing__text_subtitle {
    width: 230px;
    font-size: 1em;
    line-height: 1.35em;
    color: #000000;
}

/*--- Start If-You ---*/

.if-you {
    padding: 86px 0 99px;
}

.if-you__title {
    margin-bottom: 65px;
}

.if-you__item {
    height: 236px;
    width: 347px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 13px 98px rgba(0,0,0,0.24);
}

.if-you__item:hover {
    box-shadow: 0 7px 10px rgba(0,0,0,0.22);
    cursor: pointer;
}

.if-you__item_green {
    background: #4acc4d;
}

.if-you__item_blue {
    background: #4ac7cc;
}

.if-you__item_pink {
    background: #dc6b83;
}

.if-you__item__text {
    width: 260px;
    margin: 0 auto;
    font-size: 19px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 800;
}

.if-you__icon {
    margin: 70px 0 19px;
}

.if-you__icon i {
    font-size: 2.67em;
    letter-spacing: 1px;
    line-height: 37px;
    color: #ffffff;
}

/*--- Start Reg ---*/

.reg {
    padding-bottom: 106px;
    background: #f0f7f7 url(../img/bg-footer.png) no-repeat center top / cover;
}

.reg__wrapper {
    padding-top: 104px;
    justify-content: space-around;
    color: #ffffff;
    text-align: center;
}

.reg__main-text {
    margin-top: 105px;
    width: 570px;
}

.reg__text {
    margin-bottom: 33px;
}

.reg__title {
    margin-bottom: 26px;
    font-size: 1.8em;
    line-height: 1.3em;
    font-weight: 500;
}

.reg__date_item span {
    padding-left: 10px;
}

/*only form*/

.form {
    width: 331px;
    background: #ffffff;
    text-align: center;
}

.form__title {
    margin-bottom: 9px;
    color: #000000;
    font-size: 1.08em;
    font-weight: bold;
}

.form__subtitle {
    margin-bottom: 20px;
    color: #000000;
    font-size: 0.92em;
}

.form__items {
    margin-bottom: 12px;
}

.form__items input {
    padding: 11px 0;
    letter-spacing: 0.04em;
    border-bottom: 1px solid #bababa;
}

.form__effect:focus {
    border-bottom: 1px solid #000000;
}

.form__effect:focus::placeholder {
    color: #000000;
    text-indent: 30px;
    transition: text-indent 0.7s ease;
}

.form__items_email {
    margin-top: 10px;
}

.form__items_tel {
    margin-top: 14px;
}

.form__btn {
    margin-top: 20px;
    background: #4acc4d;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 1.01em;
    font-weight: 800;
    line-height: 38px;
    border-radius: 5px;
    transition: text-indent 2.5s ease;
    cursor: pointer;
}

.form__btn:hover {
    transition: text-indent 2.5s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    transform: scale(1.1);
}

.form__btn:active {
    transition: text-indent 2.5s ease;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .2);

}

.form__text {
    color: #adadad;
    font-size: .85em;
}

/*--- Start Footer ---*/

.footer {
    padding: 21px 0;
}

.footer__rights {
    margin-left: 153px;
    font-size: .8em;
}
